 * {
            margin: 0;
            padding: 0;
        }

        .main {
            width: 500px;
            position: fixed;
            top: 150px;
            left: 50%;
            transform: translate(-50%);
        }

        #canvas {
            display: block;
            /* background: black; */
        }

        .search {
            width: 550px;
    min-height: 100px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
        }

        .ctrlBox {
            width: 550px;
            height: 40px;
            position: fixed;
            justify-content: space-between;
        }

        .musicName,
        .searchBtnBox {
            height: 100%;
        }

        .searchBtnBox {
            width: 85px;
            /* box-sizing: content-box; */
            border: 1px solid #b584f8;
            background: #b584f8;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            outline: none;
        }

        .musicName {
            width: 446px;
            font-size: 15px;
            padding-left: 10px;
            border-radius: 3px;
            border: 1px solid #c7c7f4;
        }

        .selBox {
            width: 548px;
            position: absolute;
            top: 50px;
            left: 0;
            border: 1px solid #c7c7f4;
            display: none;
            border-top: none;
            background: #fff;
        }

        .selBox .item {
            width: 95%;
            text-indent: 10px;
            list-style: none;
            margin: 0 auto;
            height: 40px;
            line-height: 45px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            border-bottom: 1px solid #ccc;
        }

        .selBox .item:last-child {
            border: none;
        }

        a {
            text-decoration: none;
            color: #b688f8;
        }

        .loadingBox {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .loadingBox .load-container {
            position: fixed;
            top: 245px;
            left: 50%;
            transform: translate(-50%);
        }
.demo {
            position: relative;
        }

        .download {
                position: absolute;
    top: 30px;
    right: 15px;
    width: 30px;
    z-index: 99;
    height: 30px;
    cursor: pointer;
    opacity: .5;
        }